.cards-block__like {
    background-color: white;
    border: 0px;
    background-image: url(../../../images/like.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 10%;
    margin-right: 15px;
    cursor: pointer;
}
.cards-block__like:hover {
    background-image: url(../../../images/like_hover.svg);
}
.cards-block__like:focus {
    background-image: url(../../../images/Union.svg);
}
.cards-block__like:active {
    background-image: url(../../../images/Union.svg);
}